{%extends "registration/base.html"%}
{% load static %}
{%load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="welcome">
      <div class="signupbox">
        <div id="signup">
          <h1>register</h1>
          <form action="/accounts/register/" method="post" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form%}
            <button class="button submit" type="submit">Sign Up</button>
        </form>
        </div>
      </div>
      <div class="leftbox">
        <div class="logo-wrap">
          <a href="/">a<span>WWW</span>ards.</a>
        </div>
        <h2 class="spacer"></h2>
        <img class="award" src="{% static 'images/award.png' %}"/>
        <p class="account">have an account?</p>
        <a href="/accounts/login/"><button class="button signin">login</button></a>
      </div>
    </div>
   </div>
  
  </div>
{% endblock %}