{%extends "registration/base.html"%}
{% load static %}
{%load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="welcome">
      <div class="signupbox">
        <div id="signup">
          <h1>register</h1>
          <form action="/accounts/register/" method="post" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form%}
            <button class="button submit" type="submit">Sign Up</button>
        </form>
        </div>
      </div>
      <div class="leftbox">
        <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
        <p class="desc">pick your perfect <span>bouquet</span></p>
        <!-- <img class="flower smaller" src="https://image.ibb.co/d5X6pn/1357d638624297b.jpg" alt="1357d638624297b" border="0"> -->
        <p class="account">have an account?</p>
        <a href="/accounts/login/"><button class="button signin">login</button></a>
      </div>
    </div>
   </div>
  
  </div>
{% endblock %}