body {
    padding-top: 7.2rem;
}

.of-the-day-wrapper {
    width: 100%;
    height: 70vh;
    position: relative;
    background: no-repeat center center/cover;
    color: #fff;
}

.of-the-day-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
    /* background: rgba(44, 42, 42, 0.6); */
    /* background: rgba(0, 0, 0, 0.6); */
    background: rgba(0, 0, 0, 0.678);
    /* box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000; */
    /* box-shadow: inset 20px 20px 100px #080808, inset -20px -20px 100px #080808; */
}

.of-the-day-wrapper-top{
    position: relative;
    z-index: 2;
}
.of-the-day-wrapper-middle {
    position: absolute;
    top: 38%;
    left: 18%;
	z-index: 2;
	width: 65%;
	/* margin: auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* margin-top: 9rem; */
}

.of-the-day-wrapper-middle h1 {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.of-the-day-wrapper-bottom{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
label {
    position: absolute;
    top: 4rem;
    left: 2rem;
    padding: 0 1rem;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 900;
    color: #FFF;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    min-width: 2.3rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 5rem;
    z-index: 2;
}

label>span {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.voters {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    padding-right: inherit;
    z-index: 2;
}

.voters img {
    width: 5rem;
    height: 5rem;
    margin-right: 1.2rem;
    /* line-height: 5rem; */
    border-radius: 50%;
}

@media (max-width: 425px) {
    .of-the-day-wrapper {
        width: 100%;
        height: 35vh !important;
    }
}

/* DIVIDER */
.divider{
    padding: 3%;
    font-size: 2.5rem;
    font-weight: 900;
}
.divider span{
    font-size: 1.8rem;
    font-weight: 600;
}

.search-title{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}
.search-title span{
    text-transform: uppercase;
    text-decoration: underline darkgoldenrod;
}

/* SUBMISSIONS */
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';
.submissions-wrapper {
    padding-left: 5%;
    padding-right: 5%;
}
a {
    text-decoration: none;
    color: darkgoldenrod;
    font-weight: 800;
}

a:hover {
    color: #2980b9;
}

h3 {
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.d-flex {
    display: flex;
}

.submission {
    max-width: 50%;
    /* margin: 50px auto; */
    padding-left: 1em;
    padding-right: 1em;
}

/* Helpers*/
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.radius {
    border-radius: 2px;
}

.padding-tb {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.shadowDepth0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.shadowDepth1 {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Card Styles*/

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
    z-index: -2;
}

.card__padding {
    padding: 1.6rem;
}

.card__image {
    min-height: 8rem;
    background-color: #eee;
}

.card__image img {
    width: 100%;
    max-width: 100%;
    height: 20rem ;
    display: block;
}

.card__content {
    position: relative;
}

/* card meta */
.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

/* card article */
.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}

.card__article a:hover {
    color: #2980b9;
}

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}


.card__author img,
.card__author-content {
    display: inline-block;
    vertical-align: middle;
}

.card__author img {
    border-radius: 50%;
    margin-right: 0.6em;
}

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}


.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;
    font-size: 1.5rem;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}