body {
    padding-top: 12rem;
    padding-bottom: 4rem;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.profile-left {
    width: 31%;
}

.profile-center {
    width: 38%;
    margin: 0 auto;
}

.profile-right {
    width: 31%;
    display: flex;
    justify-content: center;
}

.profile img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
}
.username{
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: .1rem;
}
.username .fas{
    font-size: 1.6rem;
    margin-bottom: 1%;
}
.location{
    font-size: 1.2rem;
    margin-bottom: 3%;
}
.bio, .email{
    font-size: 1.4rem;
    margin-bottom: 2%;
}

.email span{
    font-size: 2rem;
    font-weight: 700;
}
label {
    padding: 0 1.3rem;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 900;
    color: rgba(20, 16, 16, 0.5);
    border: 1px solid rgba(20, 16, 16, 0.5);
    min-width: 2.3rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 5rem;
    align-self: flex-start;
    justify-self: flex-start;
}
label>span {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.count{
    padding: 0 6% 3%;
    display: flex;
    flex-direction: row;
}
.projects{
    font-size: 1.4rem;
    font-weight: 800;
    margin-right: 3%;
}
.votes{
    font-size: 1.4rem;
}

/* SUBMISSIONS */
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';
.submissions-wrapper {
    padding-left: 7%;
    padding-right: 7%;
}
a {
    text-decoration: none;
    color: darkgoldenrod;
    font-weight: 800;
}

a:hover {
    color: #2980b9;
}

h3 {
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.d-flex {
    display: flex;
}

.submission {
    max-width: 50%;
    /* margin: 50px auto; */
    padding-left: 1em;
    padding-right: 1em;
}

/* Helpers*/
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.radius {
    border-radius: 2px;
}

.padding-tb {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.shadowDepth0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.shadowDepth1 {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Card Styles*/

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
    z-index: -2;
}

.card__padding {
    padding: 1.6rem;
}

.card__image {
    min-height: 8rem;
    background-color: #eee;
}

.card__image img {
    width: 100%;
    max-width: 100%;
    height: 20rem ;
    display: block;
    object-fit: cover;
}

.card__content {
    position: relative;
}

/* card meta */
.card__meta a{
    margin-right: 0.8rem;
}

.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
}

/* card article */
.card__article a {
    text-decoration: none;
    text-transform: capitalize;
    color: #444;
    transition: all 0.5s ease;
}

.card__article a:hover {
    color: #2980b9;
}
.card__article p{
    font-size: 1.2rem;
}
/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}


.card__author img,
.card__author-content {
    display: inline-block;
    vertical-align: middle;
}

.card__author img {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 0.6em;
}

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}


.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;
    font-size: 1.5rem;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.12),
        0 3px 6px rgba(0, 0, 0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}