body {
    padding-top: 8rem;
}

.image img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.vote {
    background-color: darkgoldenrod;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 2%;
    font-weight: 900;
    color: #fff;
}

.details {
    padding: 3%;
    margin-bottom: 5rem;
}

.title a{
    font-size: 3.4rem;
    font-weight: 900;
    margin: 2rem 0;
    color: #444;
}
.owner{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -1%;
    margin-bottom: 3%;
    letter-spacing: 1px;
}
.owner span a{
    color: darkgoldenrod;
}

.description {
    font-size: 1.6rem;
    margin: 0 15% 2%;
}
/* .average{
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: -4rem;
	font-weight: 700;
	font-size: 4.5rem;
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: capitalize;
} */
.d-flex{
    display: flex;
    justify-content: center;
    align-content: center;
}
#average ,.design ,.usability ,.d-flex > .content{
    font-weight: 700;
	/* font-size: 4.5rem; */
    width: 9rem;
    height: 9rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 4px solid darkgoldenrod;
    border-radius: 50%;
    margin: 2rem;
}
#average{
    border: 0px;
    background: #444;
    color: darkgoldenrod;
}
.d-flex span{
    font-size: 1.4rem;
    /* padding-top: 0.8rem; */
}
/* .badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.badges label {
    padding: 0 3rem;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgba(20, 16, 16, 0.5);
    border: 1px solid rgba(20, 16, 16, 0.5);
    min-width: 2.3rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 5rem;
    align-self: flex-start;
    justify-self: flex-start;
    margin: 0 2% 3%;
}

.badges label>span {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
} */

.tabs {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-top: 5rem;
}

.tablinks {
    margin: 0 2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.tabs .tablinks:hover {
    color: darkgoldenrod;
}

.tabs .tablinks.active {
    color: darkgoldenrod;
}

.tabcontent {
    display: none;
    padding-top: 5rem;
}
#Votes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 20%;
}
.vote-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.voter-image{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}
.voter-name{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
}
.voter-name, .content-vote, .design-vote, .usability-vote{
    align-self: center;
}
#Rate {
    margin: 0 25%;
}
.have-already{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}
#rate-form {
    background: #444;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 2%;
}

.title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 3rem;
    margin-bottom: 1%;
}

hr {
    width: 50%;
}

.guide {
    padding: 2% 15%;
    font-size: 1.5rem;
}

form {
    padding: 0 3%;
}

label {
    font-size: 1.5rem;
}

.form-control {
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
}

.form-control:focus {
    border: 1px solid darkgoldenrod;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
    color: #444;
    font-weight: 900;
}

.btn:hover {
    background: darkgoldenrod;

}

@media (max-width: 425px) {
    #rate-form {
        width: 100% !important;
        margin: 3%;
    }

    .image img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    #Rate {
        margin: 0 15%;
    }
}