body {
    padding-top: 7%;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.profile-left {
    width: 31%;
}

.profile-center {
    width: 38%;
    margin: 0 auto;
}

.profile-right {
    width: 31%;
    display: flex;
    justify-content: center;
}

img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
}
.username{
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: .1rem;
}
.location{
    font-size: 1.2rem;
    margin-bottom: 3%;
}
.bio, .phone, .email{
    font-size: 1.4rem;
    margin-bottom: 2%;
}
.phone span, .email span{
    font-size: 2.4rem;
    font-weight: 700;
}
label {
    padding: 0 1.3rem;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 900;
    color: rgba(20, 16, 16, 0.5);
    border: 1px solid rgba(20, 16, 16, 0.5);
    min-width: 2.3rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 5rem;
    align-self: flex-start;
    justify-self: flex-start;
}
label>span {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.count{
    padding: 0 3% 3%;
    display: flex;
    flex-direction: row;
}
.projects{
    font-size: 1.4rem;
    font-weight: 800;
    margin-right: 3%;
}
.votes{
    font-size: 1.4rem;
}
@media (max-width: 425px) {
    .profile{
        display: flex;
        flex-direction: column;
    }
    .profile-left, .profile-center, .profile-right{
        width: 100%;
    }
}
