{%extends 'base.html'%}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="of-the-day-wrapper"
	style="background-image: url('{{highest.screenshot.url}}');">
	<div class="of-the-day-wrapper-top">
		<label>
			Site of the day <span>{{date}}</span>
		</label>
	</div>
	<div class="of-the-day-wrapper-middle">{{highest.name}}</div>
	<div class="of-the-day-wrapper-bottom">
		<div class="voters">
			<img src="https://tinyfac.es/data/avatars/852EC6E1-347C-4187-9D42-DF264CCF17BF-200w.jpeg">
			<img src="https://tinyfac.es/data/avatars/852EC6E1-347C-4187-9D42-DF264CCF17BF-200w.jpeg">
			<img src="https://tinyfac.es/data/avatars/852EC6E1-347C-4187-9D42-DF264CCF17BF-200w.jpeg">
		</div>
	</div>
</div>

<div class="text-left divider">
	Submissions <span> We need your vote</span>
</div>

<div class="submissions-wrapper">
	{% for project in projects %}
	<div class="col-sm-6 col-md-4">
		<div class="card radius shadowDepth1">
			<div class="card__image border-tlr-radius">
				<img src="{{project.screenshot.url}}"
					alt="image" class="border-tlr-radius">
			</div>
			<div class="card__content card__padding">
				<div class="card__share">
					<a id="share" class="share-icon" href="{% url 'project' project.id %}"><i class="fas fa-share"></i></a>
				</div>
				<div class="card__meta">
					{%if project.average_score != 0.0 %}
					<a href="#">{{project.average_score}}</a>
					{%else%}
					{% endif %}
					<time>{{project.post_date}}</time>
				</div>
				<article class="card__article">
					<h3><a href="#">{{project.name}}</a></h3>
					<p>{{project.description}}</p>
				</article>
			</div>
			<div class="card__action">
				<div class="card__author">
					<img src="{{project.profile.profile_pic.url}}" alt="user">
					<div class="card__author-content">
						By <a href="#">{{project.profile.user.username}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
{% block scripts %}
{{ block.super}}
<script src=" {% static 'js/card.js' %}"></script>
{% endblock %}