<header class="cd-header">
  <div class="header-wrapper">
    <div class="logo-wrap">
      <a href="#"><span>your</span>logo</a>
    </div>
    <div id="wrapper">
      <div class="menu">
        <h1>navbar</h1>
        <ul>
           <li><a href="#home">home</a></li>
           <li><a href="#about">about</a></li>
           <li><a href="#news">news</a></li>
           <li><a href="#contact">contact</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="button">
          <div class="line first top"></div>
          <div class="line second bottom"></div>
        </div>
      </div>
    </div>				
  </div>				
</header>