{%extends 'base.html'%}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
{% endblock %}

{% block content %}
<!-- <div class="card">
    <div class="inner">
        <div class="profile">
            <div class="avatar">
                <img id="avatar" src="" alt="">
            </div>
            <div class="profile-info">
                <div class="name"></div>
                <div class="location"></div>
                <a class="blog" target="_blank"></a>
            </div>
        </div>
        <div class="count">
            <div class="design"></div>
            <div class="content"></div>
            <div class="usability"></div>
        </div>
    </div>
</div> -->
<div class="data">
    <div id="design-score">10</div>
    <div id="usability-score">5</div>
    <div id="content-score">10</div>
</div>
<div class="card">
        <div class="count">
            <div class="design"></div>
            <div class="contentScore"></div>
            <div class="usability"></div>
        </div>
</div>
<div class="card">
    <div class="count">
        <div class="design"></div>
        <div class="contentScore"></div>
        <div class="usability"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super}}
<script src=" {% static 'js/test.js' %}"></script>
{% endblock %}